body {
	background-color: lightcoral;
}

#app {
	display: flex;
	flex-wrap: wrap;
	border-radius: 20%;
}

.card {
	margin: 20px;
	padding: 5px;
	border-radius: 10px;
	text-align: center;
}

.button {
	display: flex;
	justify-content: center;
}

.button1 {
	padding: 20px;
	color: black;
	background-color: lightgoldenrodyellow;
	margin: 20px;
	text-align: center;
}

.button1:hover {
	color: black;
	background-color: gold;
}

.button1:active {
	color: black;
	background-color: goldenrod;
}

.button2 {
	padding: 20px;
	color: black;
	background-color: lightseagreen;
	margin: 20px;
	text-align: center;
}
.button2:hover {
	color: black;
	background-color: seagreen;
}
button2:active {
	color: black;
	background-color: seagreen;
}

.button3 {
	padding: 20px;
	color: black;
	background-color: lightgrey;
	margin: 20px;
	text-align: center;
}

.button3:active {
	color: black;
	background-color: grey;
}

.button3:hover {
	color: black;
	background-color: darkgrey;
}

.button4 {
	padding: 20px;
	color: black;
	background-color: lightskyblue;
	margin: 20px;
	text-align: center;
}

.button4:active {
	color: black;
	background-color: skyblue;
}

.button4:hover {
	color: black;
	background-color: darkblue;
}

.Cat {
	background-color: lightgoldenrodyellow;
}

.Dog {
	background-color: lightseagreen;
}

.Dino {
	background-color: lightgray;
}

.btn btn-danger {
	justify-content: center;
}
